.App {
  text-align: center;
}

.color-change{
  color: white !important;
}

body{
  background: rgb(201, 206, 212);
  min-height: 100vh;
}

.nav-link:hover{
  font-weight:550 !important;
}

.active{
  font-weight: 550 !important;
}

#navbarNav{
  justify-content: space-around !important;
}

.nav-item{
  padding: 0px 20px 0px 20px !important;
  vertical-align: middle !important;
  width: 175px !important;
}

.card{
  margin: auto;
  grid-row:2/3;
  grid-column: 2/3;
  min-width: 450px;
  max-width: 450px;
}

.card-body{
  display: flex;
  justify-content: center;
  align-items: middle;
  background-color: white !important;
  border-radius: 0px 0px 5px 5px !important;
}

.center-this{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
}

.header{
  margin: auto;
  grid-column: 2/3;
  grid-row: 0/1;
}
.inner-input{
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.inner-button{
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
}
.card-header{
  border: none !important;
  color: white;
}
.card-img{
  border: none;
  border-radius: 0 !important;
}
.error{
  color: red;
}
.short-break{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.user-display{
  display: flex;
  justify-content: right;
  margin-right: 20px;
  margin-top: 10px; 
}


